
.ShopBorder {
	width: 100%;
	height: 100%;
	opacity: 0.6;
}

#ShopBorderFrameLeftEdge {
    background-image: url("file://{images}/custom_game/shop_border_01.png");
    background-size: 100% 90%;
    height: 100%;
    width: 50px;
}

#ShopBorderFrameBotEdge {
	background-image: url("file://{images}/custom_game/shop_edge_04.png");
    background-size: 200% 100%;
    vertical-align: bottom;
    height: 50px;
    width: 100%;
}

#ShopBorderFrameTopEdge {
    background-image: url("file://{images}/custom_game/shop_edge_03.png");
    background-size: 200% 100%;
    vertical-align: top;
    height: 50px;
    width: 100%;
}

#ShopBorderFrameTopLeftCorner {
    background-image: url("file://{images}/custom_game/shop_corner.png");
    background-size: 100% 100%;
    align: left top;
    width: 30px;
    height: 30px;
}

#ShopBorderFrameBotLeftCorner {
    background-image: url("file://{images}/custom_game/shop_corner.png");
    background-size: 100% 100%;
    align: left bottom;
    width: 30px;
    height: 30px;
}

.MainShop {
	height: 100%;
	width: 100%;
	padding: 20px;
	padding-right: 10px;
	flow-children: down;
}

#TopShop {
	height: 65%;
	width: 100%;
}

#BotShop {
	height: 35%;
	width: 100%;
}

.shopList {
	height: 22%;
	width: 45%;
	/* background-color: red; */
	margin-right: 2%;
	margin-left: 2%;
	margin-top: 1%;
	margin-bottom: 1%;
	border: 2px solid rgba(169, 169, 169, 0.363);
}

.ShopListTitle {
	horizontal-align: center;
}

.ShopMarket {
	visibility: collapse;
}

.MarketOpen .ShopMarket {
	visibility: visible;
	height: 100%;
	width: 100%;
	flow-children: down;
}

#MarketOffers {
	horizontal-align: center;
	width: 90%;
	height: 50%;
	background-color: rgba(0, 0, 255, 0.01);
}

#MarketBids {
	horizontal-align: center;
	width: 90%;
	height: 50%;
	background-color: rgba(255, 0, 0, 0.01);
}

#ShopSelectInner {
    width: 100%;
    height: 100%;
    opacity: 0.95;
    /* background-color: rgba(196, 195, 195, 0.103); */
    background-image: url("file://{images}/custom_game/hud_bg_white.jpg");
    wash-color: #242424;
    box-shadow: inset #000000b0 8px 8px 16px 16px;
	border-radius: 5px;
	margin: 20px;
}

#ShopSelectList {
    height: 100%;
    width: 100%;
    align: middle middle;
    flow-children: right-wrap;
    /* border: 1px solid black; */
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: squish scroll;
    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
    border-radius: 5px;
    margin: 20px;
    margin-left: 30px;
}

#ShopSelectList.PotentialDropTarget {
    background-color: gradient( radial, 50% -20%, 0% 0%, 60% 40%, from( #ffffff30 ), to( #FFFFFF00 ) );
}