.WeaponPanel {
    width: 40px;
    height: 40px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 15px;
    border: 2.5px solid gray;
    border-radius: 5px;
    background-color: rgba(20, 20, 20, 0.836);
    opacity: 0;
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease-out;
}

.NewWeapon {
    opacity: 1;
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease-out;
}

.DraggedWeapon {
    opacity: 0.3;
}

.WeaponPanelBig {
    width: 40px;
    height: 40px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    align: middle middle;
}

.WeaponImage {
    width: 100px;
    height: 100px;
}

.WeaponDropPanel {
    background-image: url("file://{images}/custom_game/red_gem_01.png");
    background-size: 80% 80%;
    background-position: center;
}

.PotentialDropTarget {
    background-color: gradient( radial, 50% -20%, 0% 0%, 80% 80%, from( #ffffff30 ), to( #FFFFFF00 ) );
}

.TooltipWeaponContent {
    height: fit-children;
    width: 100%;
    margin-top: 7px;
}

.TooltipWeaponValues {
    width: 100%;
    font-family: defaultFont;
    font-size: 16px;
    color: #596e89;
}

.TooltipWeaponInfo {
    height: fit-children;
    width: 100%;
    margin-bottom: 3px;
}

.TooltipWeaponInfoElement {
    horizontal-align: left;
    font-size: 16px;
    color: #596e89;
}

.TooltipWeaponTitle {
    height: fit-children;
    width: 100%;
}

.TooltipWeaponTitleText {
    horizontal-align: left;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.TooltipWeaponTitleLevel {
    horizontal-align: right;
    font-size: 16px;
    color: #4b535e;
}

:focus {
    border: 3px solid red;
}